<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Face Detection</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-lg-8  offset-lg-2">
              <h3 class="mt-5">Thêm dữ liệu khuôn mặt</h3>
              <button type="button" class="btn btn-info" id="btn_start">Quét khuôn mặt</button>
              <button type="button" class="btn btn-danger" id="btn_delall">Xóa tất cả</button>
              <button type="button" class="btn btn-success" id="btn_upload">Tải lên</button>
              <p class="text-info" id="counts"></p>
              <div id="status">&nbsp;</div>
              <div class="progress" id="progress_bar" hidden>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress_line">0%</div>
              </div>
              <div id="container-show">
                <video id="video" width="600" height="450" autoplay="true" hidden></video>
                <canvas id="canvas_face"></canvas>
                <p class="text-warning" id="count_down"></p>
              </div>
          </div>
      </div>
    </div><br>
    <div class="div1 row" id="div_img"></div>

    <script src="face-api.min.js"></script>
    <script src="script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
