<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to our CSS stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Face Detection JS</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-lg-8  offset-lg-2">
              <h3 class="mt-5">Thêm dữ liệu khuôn mặt</h3>
              <button type="button" class="btn btn-info" id="btn_start">Quét khuôn mặt</button>
              <button type="button" class="btn btn-danger" id="btn_delall">Xóa tất cả</button>
              <button type="button" class="btn btn-success" id="btn_upload">upload</button>
              <p class="text-warning" id="count_down"></p>
              <p class="text-info" id="counts"></p>
              <div id="status">&nbsp;</div>
              <h1 id="progress">&nbsp;</h1>
              <div id="container-show">
                <video id="video" width="600" height="450" autoplay="true" hidden></video>
                <canvas id="canvas"></canvas>
              </div>
          </div>
      </div>
    </div><br>
    <div class="div1 row" id="div_img"></div>

    <script src="face-api.min.js"></script>
    <script src="script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
