<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Face Detection</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">QuyViet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/face">Trang chủ<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/show">Xem khuôn mặt<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Đăng xuất</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="div1 row ml-1" id="div_img">
      {% for image in images %}
        <div class="card img_clear" style="width: 10rem;" id="{{image}}">
          <img class="card-img-top" src="{{path +'/'+ image}}" alt="{{image}}">
        </div>
      {% endfor %}

      {% if path=='' %}
        <div class="mx-auto" style="margin-top: 200px;">
          <div class="alert alert-danger px-2" role="alert">
            Chưa có khuôn mặt nào
          </div>
        </div>
      {% endif %}
    </div>
  </body>
</html>
